/* Making the background color Black*/
body{
    background-color: black;
    font-family: "Montserrat";
}
h1,h2,h3,h4,h5,h6{
  color: rgb(131, 77, 182);
}
h1{
  font-size: 50px;
}
/* Add a black background color to the top navigation */


.topnav {
    background-color: black;
    overflow: hidden;
    position: sticky;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    transition: 0.3s;
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: blueviolet;
    color: white;
  }

  /*HOME*/

  
h2{
  color: blueviolet;
    font-size: 35px;
}
span{
    color: crimson;
}
section{
    display: flex;
}
.first-div{
    padding: 2em;
    width: 50%;
}
p{
  color: whitesmoke;
    margin-bottom: 50px;
    font-size: 18px;
}
.top-image{
    width: 300px;
    height: 400px;
    padding-left: 100px;
    align-items: flex-end;
    border-radius: 50%;

}
/*HOME ENDS*/
.headings{
  padding-top: 100px;
  ;
}
.headings{
  text-align: center;
  padding-bottom: 60px;
}
.edu-type{
  text-decoration: none;

}
.achie{
  color: #ddd;
}

.contact-link{
  padding-top: 10px;
  padding-bottom: 10px;
}